<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body style="font-family:Arial;background:#f4f4f4;padding:20px">
<div style="max-width:600px;background:#fff;padding:20px;margin:auto">
    <h2>Xin chào <span th:text="${email}"></span></h2>

    <p>Mã OTP đặt lại mật khẩu của bạn:</p>

    <h1 style="color:#2c7be5" th:text="${otp}"></h1>

    <p>OTP có hiệu lực trong
        <b th:text="${expiredMinutes}"></b> phút</p>

    <p style="font-size:12px;color:#888">
        Nếu không phải bạn yêu cầu, vui lòng bỏ qua email này
    </p>
</div>
</body>
</html>
